.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 17px;

}
.service-header{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;

}
.service-header span{
    color: #FF9900;
}
.bannar-text{
    padding: 80px 0px;
}
.bannar-text h2{
    font-weight: bold;
    color: white;
    margin-bottom: 17px;
}
.bannar-text h2 span{
    color:#FF9900!important;
}
.bannar-text p{
    color: white;
}
.bannar-text button{
    border: none;
    outline: none;
    background:#FF9900;
   
    padding: 7px 9px;
    font-weight: bold;
}
.bannar-text button:hover{
    background:rgba(255, 153, 0, 0.3);
   transition: all .3s;
}

@media(max-width:991px){
    .services{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 17px;
    
    }
}
@media(max-width:768px){
    .services{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 17px;
    
    }
}
@media(max-width:576px){
    .services{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 17px;
    
    }
    .bannar-text{
        padding: 40px 0px;
    }
}